# Virtual environments
.venv/
env/
venv/

# Build artifacts
dist/
build/
*.egg-info/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Editor files
.vscode/
.idea/
*.swp
